/* css Reset */
* {
  box-sizing: border-box;
}

/* ----------------------------------------------------------------- */

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #e3e8fe;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  border: solid 1px black;
}

.header {
  color: white;
  background-color: #b07feb;
}

.isCompleted {
  text-decoration: line-through;
}
